body {
    background-color: #f4f4f4;
}

.reveal, .reveal h1, .reveal h2 {
    color: darkslategray;
}

.reveal h2 {
    font-size: 1.2em;
    padding-bottom: 5%;
}

.reveal code {
    max-height: 600px;
    font-size: 75%;
}

.reveal pre {
    width: 100%;
}

.reveal td {
    font-size: 50%;
}

.reveal td.tableblock {
    padding: 0.1em 0.2em;
}